.emacs.d/

storage/

.python_history

*#*

.nv

.renpy

.semx-items

.var

*.old

.gnupg/

*~*

.bash_history

.bash_profile

.ssh/known_hosts

document/

.w3m/

.cpan/

.cpanm/

perl5/

.adobe/

.avfs/

.bash_logout

.bash_profile

.bluefish/

.bundle/

.cache/

.conda/

.config/

.conkyrc

.conky-startup.sh

.crontab

.cxoffice/

.dbus/

.deepinwine/

Desktop/

.dmrc

Documents/

.dosbox/

Downloads/

.emacs.d/

.ew.json

.fbtermrc

.fonts/

.gconf/

.gem/

.gitkraken/

.gksu.lock

.gnome/

.gnome2/

.gnome2_private/

.googleearth/

.gphoto/

.gtkrc-2.0

.hardinfo/

.icons/

.ipython/

.java/

.keras/

.kingsoft/

.links2/

.local/

.macromedia/

.mailcap

.mime.types

.mozilla/

.mplayer/

Music/

.nano/

.node_repl_history

.npm/

.phoenixos/

Pictures/

.pki/

.presage/

.profile

.Public/

.pulse-cookie

.PyCharm2017.1/

.PyCharmCE2017.1/

.pyrenamer/

.recently-used

.remarkable/

.rnd

.rslsync.sh

.selected_editor

.sogouinput/

.steam/

.steampath

.steampid

.sync/

.synergy/

.Templates/

.themes/

.thunderbird/

.ubunsys/

Videos/

.viminfo

.vnc/

.wget-hsts

.Xauthority

.xdm/

.xinputrc

.xnviewmp/

.xsession-errors

.Yozo_Office/

.YozoWeboffice/

.CFUserTextEncoding

.DS_Store

.Trash

.bash_history

.bash_sessions

.emacs.d

.matplotlib

Desktop

Documents

Downloads

Library

Movies

Music

Pictures

Public

